<!DOCTYPE html>
<html>
  <head>
    <title> Personal Project </title>
    <link rel="shortcut icon" type="image/x-icon" href="https://personal-project.shubhamsaurabh5.repl.co/static/logo.png">
  <style>
    h1 {
      font-size: 80 px;
      font-family: Graphik;
      font-weight: normal;
      display: flex;
      justify-content: center; 
    }
    h2 {
      font-size: 60 px;
      font-family: Graphik;
      font-weight: normal;
      display: flex;
      justify-content: center; 
    }
    p {
      font-size: 32 px;
      font-family: Graphik;
      font-weight: normal;
      display: flex;
      justify-content: space-evenly;}

    #container{
      margin:0 auto ;
    }
    
  </style>
  </head>
  <body>
    <div id = 'container'>
    <h1>Hello there, new exciting project</h1>
    <img src = "https://personal-project.shubhamsaurabh5.repl.co/static/banner.jpg" height = '512' width  = '768' style= "display: block; margin: 0 auto;">
    <h2>About the Porject</h2>
    <p>  Vestibulum pulvinar lobortis massa, vel cursus libero aliquet maximus. Fusce rutrum diam et ipsum pharetra, feugiat pellentesque justo posuere. Vivamus cursus mollis dolor, a aliquam lorem accumsan vel. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur eget sapien euismod purus auctor tincidunt eget nec felis. Praesent pellentesque lobortis sem nec dignissim. Aliquam in commodo odio. Nam pellentesque sem sed tellus aliquet porttitor. Aenean pellentesque, ante nec vulputate accumsan, ex risus dictum urna, venenatis volutpat elit nulla non dolor. </p>
  </body>
</html>